/* Colours */
$teal: #008080;

$primary: $teal;


$body-background-color: #f5f5f5;

/* Fonts */
$roboto-slab: "Roboto Slab", serif;
$title-font:  $roboto-slab;
$body-font: "Roboto", "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
