/* Colours */
$teal: #008080;
$primary: $teal;
$body-background-color: #f5f5f5;

/* Fonts */
$title-font:  "Roboto Slab", Georgia, serif;
$body-font: "Roboto", "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

@import '~bulma/sass/utilities/_all.sass';